<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik_NuGet" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Telerik_NuGet>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="rRiYNkCeW0awNRzRa2Maig==.kAs/jiY7b1q1pz+djvuLNHlIhffUeizMwTvLT5zgtmUQNfuSWwyLaRR+Y3yiAvqnYSsXTGDa1hdTaMUQqopCaw==" />
    </Telerik_NuGet>
  </packageSourceCredentials>
</configuration>
