
.appImage {
    width:100%;
    height:250px;
    background-image:url("../images/NorcoWelcomeImage.jpg");
    background-repeat: no-repeat;
    background-size:contain;
  background-position: top;
}
