.site-header {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

@media (max-width: 1023px) {
    .site-header {
        display: none;
    }
}

/* Header Logo */
.site-branding {
    margin-right: 20px;
}

.site-header [class*='col'] .site-branding {
    margin-right: 0;
}

.site-branding a {
    display: table-cell;
    vertical-align: middle;
}

    .site-branding a img {
        width: auto;
        max-height: 80px;
    }

.header-style-2 .site-branding a img {
    max-height: 40px;
}

.header-style-3 .site-branding a img {
    max-height: 45px;
}

.header-style-4 .site-branding a img {
    max-height: 50px;
}

@media (max-width: 1250px) {
    .header-style-8 .site-branding a img {
        max-width: 127px;
        height: auto;
    }
}

.site-branding a.light-logo {
    display: none;
}

/* Main Navigation */
.site-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-header .main-navigation ul {
    text-align: right;
}

    .site-header .main-navigation ul li {
        display: inline-block;
        position: relative;
    }

        .site-header .main-navigation ul li a {
            display: block;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            transition: all .4s ease-out;
            color: #000000;
            padding: 33px 13px;
        }

.site-header .main-navigation nav > ul > li > a {
    transition: all .4s ease-out, padding 0s, font-size 0s;
}

@media (max-width: 1360px) {
    .site-header .main-navigation nav > ul > li > a {
        padding-left: 7px !important;
        padding-right: 7px !important;
        font-size: 14px;
    }
}

@media all and (max-width: 1199px) {
    .site-header .main-navigation ul li a {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.site-header .main-navigation ul li a.active {
    color: #002147 !important;
}

.site-header .main-navigation ul.menu > li > a:hover {
    color: #002147;
}

.site-header .main-navigation ul.menu > li.current-menu-item > a,
.site-header .main-navigation ul.menu > li.current > a {
    color: #002147;
}

/* Submenu */
.site-header .main-navigation ul li ul {
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    position: absolute;
    top: 100%;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 99 !important;
    width: 210px;
    text-align: left;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

    .site-header .main-navigation ul li ul.sub-menu li.menu-item-has-children:after {
        color: #fff;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .site-header .main-navigation ul li ul li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        border-left: none;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: #002147;
    }

        .site-header .main-navigation ul li ul li:hover > a {
            color: #071041;
        }

        .site-header .main-navigation ul li ul li:last-child {
            border-bottom: none;
        }

        .site-header .main-navigation ul li ul li a {
            display: block;
            color: #d9dee4;
            text-transform: inherit;
            padding: 10px 15px !important;
            font-weight: 400;
            font-size: 14px;
        }

.site-header .main-navigation ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* 3rd Level Menu */
.site-header .main-navigation ul li ul li ul {
    left: 210px;
    top: 0;
    width: 210px;
}

.site-header .main-navigation ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Multi Column Menu */
.site-header .main-navigation ul li.mega-menu:hover ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.site-header .main-navigation ul li.mega-menu ul.sub-menu li {
    background-color: inherit;
}

    .site-header .main-navigation ul li.mega-menu ul.sub-menu li a {
        color: #d9dee4;
    }

    .site-header .main-navigation ul li.mega-menu ul.sub-menu li.current-menu-item a,
    .site-header .main-navigation ul.sub-menu li.current-menu-ancestor > a,
    .site-header .main-navigation ul.sub-menu li.current-menu-item > a {
        color: var(--rt-secondary-color);
    }

    .site-header .main-navigation ul li.mega-menu ul.sub-menu li a::hover {
        background-color: #002147;
        color: #071041;
    }

.site-header .main-navigation ul li.mega-menu > ul.sub-menu {
    background-color: #002147;
    padding: 5px 0;
    width: 460px;
}

    .site-header .main-navigation ul li.mega-menu > ul.sub-menu > li {
        display: block;
        float: left;
        margin: 0 5px;
        width: 210px;
        border: none;
    }

        .site-header .main-navigation ul li.mega-menu > ul.sub-menu > li ul {
            position: relative;
            width: inherit;
            left: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .site-header .main-navigation ul li.mega-menu > ul.sub-menu > li > a {
            font-weight: 600;
            margin-bottom: 1px;
        }

    .site-header .main-navigation ul li.mega-menu > ul.sub-menu li:after {
        content: '';
    }

.site-header .main-navigation ul li.mega-menu.hide-header > ul.sub-menu > li > a {
    display: none;
}

/* Mobile Multi Column Menu */
.mean-container .mega-menu.hide-header > ul > li {
    border-top: none;
}

    .mean-container .mega-menu.hide-header > ul > li > a {
        display: none;
    }

    .mean-container .mega-menu.hide-header > ul > li > ul {
        display: block !important;
    }

/* Header Icons */
.cart-icon-area,
.header-icon-seperator,
.search-box-area,
.header-icon-area .additional-menu-area {
    padding-top: 32px;
    padding-bottom: 28px;
    color: #222222;
}

.header-icon-area .search-box-area,
.header-icon-area .header-icon-seperator,
.header-icon-area .cart-icon-area,
.header-icon-area .additional-menu-area {
    float: right;
}

.header-icon-area {
    float: right;
    padding-left: 25px;
    position: relative;
    font-size: 18px;
}

    .header-icon-area .search-box .search-text {
        background: #f5f5f5;
        border: 1px solid var(--rt-secondary-color);
        color: #666666;
        height: 40px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        width: 0;
        z-index: 99;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 27px 0 10px;
    }

        .header-icon-area .search-box .search-text.active {
            opacity: 1;
            visibility: visible;
            width: 220px;
        }

    .header-icon-area .search-box .search-close {
        font-size: 12px;
        line-height: 1;
        right: 1px;
        position: absolute;
        top: calc(100% + 2px);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        padding: 13px 11px 13px 6px;
    }

.search-box .search-text:focus,
.search-box .search-text:focus-visible {
    outline: none;
}

.header-icon-area .search-box .search-close.active {
    opacity: 1;
    visibility: visible;
}

.header-icon-area .search-box .search-button {
    font-size: 16px;
}

    .header-icon-area .search-box .search-button i {
        color: #222222;
    }

@media (max-width: 1199px) {
    .header-icon-area svg {
        width: 85%;
        min-width: 20px;
    }
}

.header-icon-area .header-icon-seperator {
    font-size: 20px;
    line-height: 24px;
    padding-left: 7px;
    padding-right: 8px;
}

@media all and (max-width: 991px) {
    .header-icon-area .header-icon-seperator {
        padding-left: 3px;
        padding-right: 3px;
    }
}

.header-icon-area .cart-icon-area {
    position: relative;
}

    .header-icon-area .cart-icon-area > a {
        display: block;
        color: #222222;
        -webkit-transition: none;
        transition: none;
    }

    .header-icon-area .cart-icon-area .cart-icon-num {
        background-color: var(--rt-secondary-color);
        border-radius: 50%;
        color: var(--rt-primary-color);
        font-size: 12px;
        line-height: 18px;
        min-height: 19px;
        min-width: 19px;
        position: absolute;
        text-align: center;
        top: 27px;
        right: -10px;
        font-weight: 500;
    }

    .header-icon-area .cart-icon-area .cart-icon-products {
        font-size: 13px;
        line-height: 20px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 100%;
        width: 270px;
        z-index: 99999;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        opacity: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        visibility: hidden;
        text-align: left;
    }

        .header-icon-area .cart-icon-area .cart-icon-products .widgettitle {
            display: none;
        }

        .header-icon-area .cart-icon-area .cart-icon-products .widget_shopping_cart {
            padding: 10px 15px 0;
        }

    .header-icon-area .cart-icon-area:hover .cart-icon-products {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        visibility: visible;
    }

.woocommerce .cart-icon-products .widget_shopping_cart .cart_list li,
.cart-icon-products .woocommerce.widget_shopping_cart .cart_list li,
.cart-icon-products .widget_shopping_cart .mini_cart_item {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .cart-icon-products .widget_shopping_cart .mini_cart_item:last-child {
        border-bottom: none;
    }

    .cart-icon-products .widget_shopping_cart .mini_cart_item a {
        color: #666;
    }

        .cart-icon-products .widget_shopping_cart .mini_cart_item a:hover {
            color: #002147;
        }

        .woocommerce .cart-icon-products .widget_shopping_cart .cart_list li a.remove,
        .cart-icon-products .woocommerce.widget_shopping_cart .cart_list li a.remove,
        .cart-icon-products .widget_shopping_cart .mini_cart_item a.remove {
            line-height: 1;
            top: 12px;
        }

.cart-icon-products .woocommerce.widget_shopping_cart ul.product_list_widget li img {
    width: 40px;
}

.additional-menu-area {
    margin-left: 25px;
}

@media all and (max-width: 991px) {
    .additional-menu-area {
        margin-left: 28px;
    }
}

.additional-menu-area a.side-menu-trigger {
    color: #222;
    cursor: pointer;
    font-size: 21px;
    line-height: 0;
}

    .mobile-offscreen-menu .mean-bar .header-icon-area .fa-bars,
    .additional-menu-area a.side-menu-trigger i {
        transform: scale(1.2, .85);
    }

.mobile-offscreen-menu .mean-bar .header-icon-area .fa-bars {
    min-width: 25px;
}

    .mobile-offscreen-menu .mean-bar .header-icon-area .fa-bars::before,
    .additional-menu-area a.side-menu-trigger i::before {
        content: "| | |";
        display: block;
        transform: rotate(90deg);
        margin-top: 4px;
        transition: 0.3s ease-in-out;
        margin-right: 0;
    }

.mobile-offscreen-menu .mean-bar .header-icon-area i.fa-bars:hover::before,
.additional-menu-area a.side-menu-trigger i:hover::before {
    transform: rotate(90deg) skewY(22deg);
    color: var(--rt-secondary-color);
}

.additional-menu-area a.side-menu-trigger:hover {
    color: #002147;
}

/* Header Right Menu */
.additional-menu-area .sidenav {
    height: 100%;
    right: -280px;
    width: 280px;
    position: fixed;
    z-index: 10002;
    top: 0;
    background-color: #222C32;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-top: 45px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

    .additional-menu-area .sidenav .closebtn {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 17px;
        height: 24px;
        line-height: 18px;
        padding: 0;
        position: absolute;
        right: 15px;
        text-align: center;
        top: 25px;
        width: 25px;
    }

        .additional-menu-area .sidenav .closebtn:hover {
            opacity: 0.8;
        }

    .additional-menu-area .sidenav ul li {
        border-bottom: 1px solid #354248;
        margin-bottom: 0;
        line-height: 24px;
    }

        .additional-menu-area .sidenav ul li:last-child {
            border-bottom: none;
        }

        .additional-menu-area .sidenav ul li a {
            text-align: left;
            font-size: 14px;
            color: #d3d3d3;
            border: none;
            padding-left: 20px;
        }

            .additional-menu-area .sidenav ul li a:hover {
                color: #ffffff;
            }

            .additional-menu-area .sidenav ul li a::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                content: "\f105";
                padding-right: 8px;
            }

        .additional-menu-area .sidenav ul li > ul > li {
            padding-left: 20px;
        }

        .additional-menu-area .sidenav ul li.menu-item-has-children > a:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            content: "\f0d7";
            float: right;
            padding-right: 10px;
        }

        .additional-menu-area .sidenav ul li .sub-menu {
            display: none;
        }

    .additional-menu-area .sidenav a {
        padding: 7px 8px 7px 10px;
        text-decoration: none;
        color: #818181;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

.additional-menu-area .mega-menu.hide-header > ul > li {
    padding-left: 0;
}

    .additional-menu-area .mega-menu.hide-header > ul > li > a {
        display: none;
    }

    .additional-menu-area .mega-menu.hide-header > ul > li > ul {
        display: block !important;
    }

.additional-menu-area .rtin-ropen {
    right: 0 !important;
}

.admin-bar .additional-menu-area .sidenav {
    top: 25px;
}

/* Sticky Header */
@-webkit-keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }
}

#sticky-header-wrapper {
    display: none;
    width: 100%;
    position: fixed;
    top: -300px;
    -webkit-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
    z-index: 99990;
}

    #sticky-header-wrapper .site-header {
        background-color: #ffffff;
        border-bottom: 2px solid #002147;
        position: static;
    }

        #sticky-header-wrapper .site-header .main-navigation ul li a {
            padding-top: 24px;
            padding-bottom: 23px;
        }

    #sticky-header-wrapper .cart-icon-area,
    #sticky-header-wrapper .header-icon-seperator,
    #sticky-header-wrapper .search-box-area,
    #sticky-header-wrapper .additional-menu-area {
        padding-top: 21px;
        padding-bottom: 20px;
    }

    #sticky-header-wrapper .header-icon-area .cart-icon-area .cart-icon-num {
        top: 13px;
        right: -8px;
    }

.stick #sticky-header-wrapper {
    top: 0 !important;
}

.admin-bar.stick #sticky-header-wrapper {
    top: 32px !important;
}

@media screen and (max-width: 782px) {
    .admin-bar.stick #sticky-header-wrapper {
        top: 46px !important;
    }
}

.mean-activated #sticky-header-wrapper {
    display: none !important;
}

/* Transparent Header */
.trheader #masthead {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 99;
}

    .trheader #masthead .site-branding a.dark-logo {
        display: none;
    }

    .trheader #masthead .site-branding a.light-logo {
        display: table-cell;
    }

    .trheader #masthead .main-navigation ul.menu > li > a {
        color: #fff;
    }

        .trheader #masthead .main-navigation ul.menu > li > a:hover {
            color: var(--rt-secondary-color) !important;
        }

    .trheader #masthead .search-box .search-button i,
    .trheader #masthead .header-icon-seperator,
    .trheader #masthead .header-icon-area .cart-icon-area > a,
    .trheader #masthead .additional-menu-area a.side-menu-trigger {
        color: #fff;
    }

.trheader .entry-banner {
    padding-top: 60px;
}

/* Meanmenu Sticky */
.mean-stick #meanmenu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.mean-stick.admin-bar .mean-container {
    top: 32px !important;
}

@media all and (max-width: 782px) {
    .mean-stick.admin-bar .mean-container {
        top: 46px !important;
    }
}

.site-header .main-navigation nav > ul > li.menu-item-has-children > a::after {
    content: "\f078";
    font-family: "FontAwesome";
    font-weight: 600;
    font-size: 10px;
    color: #7d7d7d;
    margin-left: 5px;
    display: inline-block;
    transition: 0.4s ease-in-out;
    transform: translateY(-1px);
}

.trheader .site-header .main-navigation nav > ul > li.menu-item-has-children > a::after {
    color: #ffffff;
}

.site-header .main-navigation nav > ul > li.menu-item-has-children > a:hover::after {
    color: var(--rt-secondary-color);
}

@media (min-width: 992px) {
    .site-header .main-navigation ul li ul.has-many-items {
        width: 650%;
        box-shadow: none;
    }

        .site-header .main-navigation ul li ul.has-many-items li {
            float: left;
            width: 200px;
        }
}
.site-header .main-navigation ul li a {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #1e3964;
    text-transform: uppercase;
    font-style: normal;
}

.site-header .main-navigation ul.menu > li > a:hover, .site-header .main-navigation ul.menu > li.current-menu-item > a, .site-header .main-navigation ul.menu > li.current > a {
    color: #ffb71c;
}

.site-header .main-navigation ul li a.active {
    color: #ffb71c !important;
}

.trheader #masthead .main-navigation ul.menu > li > a, .trheader #masthead .main-navigation ul.menu > li > a:hover, .trheader #masthead .main-navigation ul.menu > li.current-menu-item > a, .trheader #masthead .main-navigation ul.menu > li.current > a, .trheader #masthead .search-box .search-button i, .trheader #masthead .header-icon-seperator, .trheader #masthead .header-icon-area .cart-icon-area > a, .trheader #masthead .additional-menu-area a.side-menu-trigger {
    color: #ffffff;
}

.site-branding a img {
    width: 200px;
    max-height: 80px;
}